---
---
<div id="nav-header">
  <header class="max-w-6xl mx-auto navbar bg-base-100 justify-between">
    <a class="btn btn-ghost" href="/">academia.fyi</a>
  </header>
</div>

<style>
  .btn {
    @apply normal-case;
  }
</style>